---
export type Props = {
  tags?: string[];
};
const { tags } = Astro.props
const baseUrl = import.meta.env.BASE_URL;
---

<div class="flex flex-row wrap gap-2">
  {
    tags?.map((tag) => (
      <a 
        href={`${baseUrl}/tags/${tag.toLowerCase().replace(/\s+/g, '-').replace(/[^\w-]/g, '')}`}
        class="-theme-text -theme-muted-bg theme-transition px-2 py-1 text-sm font-semibold hover:opacity-80 cursor-pointer"
      >
        {tag}
      </a>
    ))
  }
</div>