---
// import { experience } from "../../cv.config";
import type { StrengthItem, Strengths } from "../../lib/cv.types";
import SectionHeader from "./SectionHeader.astro";
import StrengthList from "./StrengthList.astro";

export type Props = {
  strengths: Strengths;
};

const { strengths } = Astro.props;
---

<div class="relative theme-text theme-transition flex flex-col gap-3 mb-8">
  <SectionHeader title={strengths.sectionTitle} />
  {Array.isArray(strengths.strengths[0]) ? (
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {(strengths.strengths as StrengthItem[][]).map((strengthArray: StrengthItem[]) => (
        <StrengthList strengths={strengthArray} />
      ))}
    </div>
  ) : (
    <StrengthList strengths={strengths.strengths as StrengthItem[]} />
  )}
</div>


