---
import SectionHeader from "./SectionHeader.astro";

export interface Props {
  content: string;
}

const { content } = Astro.props;
const title = "Summary"
---

<div class="relative theme-text theme-transition flex flex-col gap-3 mb-8">
  <SectionHeader title={title} />
  <span class="ml-4">
    {content}
  </span>
</div>