---
import Layout from "../layouts/Layout.astro";
import { siteConfig } from "../site.config"
import SEO from "../components/common/SEO.astro";
import Section from "../components/common/Section.astro";
import Hero from "../components/home/Hero.astro";
import RecentPosts from "../components/home/RecentPosts.astro";
import RecentNotes from "../components/home/RecentNotes.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";

const config = siteConfig;
const baseUrl = import.meta.env.BASE_URL;
---

<Layout>
  <Fragment slot="head">
    <SEO />
  </Fragment>
  <Section class="my-16">
    <Hero />
    <RecentPosts />
    <RecentNotes />
    <FeaturedProjects />
  </Section>
</Layout