---
export type Props = {
  url: string;
  additonalClasses?: string;
  external?: boolean;
  "aria-label"?: string;
  hoverUnderline?: boolean;
  hoverUnmute?: boolean;
};

const { url, external, additonalClasses, hoverUnderline, hoverUnmute } = Astro.props;
---

<a
  href={url}
  class:list={[
    "theme-offset font-medium flex items-center",
    additonalClasses,
    "anchor",
    hoverUnmute ? "hover-unmute" : "theme-fill",
  ]}
  target={external ? "_blank" : "_self"}
  aria-label={Astro.props["aria-label"]}
>
  <span class:list={[hoverUnderline ? "hover-underline" : null]}>
    <slot />
  </span>
  {
    external ? (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        viewBox="0 0 512 512"
      >
        <path
          fill-rule="evenodd"
          d="M362.666 149.333V320H320l-.001-97.831l-154.51 154.51l-30.169-30.17L289.829 192h-97.83v-42.666z"
        />
      </svg>
    ) : null
  }
</a>
