---
import { getUrl } from "../../lib/utils";
type Props = {
  title: string;
  subtitle: string;
  image?: string;
};
const { title, subtitle, image } = Astro.props;
---

<div class="flex justify-center items-center my-8 mb-15 gap-10">
  {image && <img 
    src={getUrl(image)} 
    alt="Profile image" 
    class="hero-image"
  />}
  <div class="flex flex-col items-center">
    <h1 class="text-6xl sm:text-5xl font-display pb-2">
      {title}
    </h1>
    <span>
      {subtitle}
    </span>
  </div>
</div>