---
import type { collections } from "../../content.config";
import { getSubCollection } from "../../lib/utils";

type Props = {
  collectionName: keyof typeof collections;
  indexDirectory: string;
};

const { collectionName, indexDirectory } = Astro.props;
const subCollectionPosts = await getSubCollection(collectionName, indexDirectory);
---

{subCollectionPosts.length > 0 && (
  <div class="mt-8">
    <h2 class="text-2xl font-display theme-text mb-4">Contents</h2>
    <ul class="space-y-2">
      {subCollectionPosts.map((post) => (
        <li>
          <a href={post.url}>
            {post.title}
          </a>
        </li>
      ))}
    </ul>
  </div>
)}