---
export type Props = {
  tags?: string[];
};
const { tags } = Astro.props
---

<div class="flex flex-row wrap gap-2">
  {
    tags?.map((tag) => (
      <span class="-theme-text -theme-muted-bg theme-transition px-2 py-1 text-sm font-semibold">
        {tag}
      </span>
    ))
  }
</div>