---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/common/Section.astro";
import SEO from "../../components/common/SEO.astro";
import { siteConfig } from "../../site.config"
import Hero from "../../components/cv/Hero.astro";
import Experience from "../../components/cv/Experience.astro"
import Summary from "../../components/cv/Summary.astro"
import Strengths from "../../components/cv/Strengths.astro"
import Education from "../../components/cv/Education.astro"

import { experience, otherExperience, strengths } from "../../cv.config";

const config = siteConfig;
const baseUrl = import.meta.env.BASE_URL;
---

<Layout>
  <Fragment slot="head">
    <SEO meta="cvMeta" />
  </Fragment>
  <Section class="my-16">
    <Hero/>
    <Summary/>
    <Strengths strengths={strengths}/>
    <Experience experience={experience}/>
    <Education/>
    <Experience experience={otherExperience}/>
  </Section>
</Layout>